.cards_container {
  width: 100%;
  height:auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em 2%;
  place-items: center;
}

.card {
  
  &_container {
    width:100%;
    aspect-ratio: 1/1; 
    position: relative;
    border-radius: $home-radius;
    overflow: hidden;
  }
  
  
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  &_title {
    position: absolute;
    top: 83%;
    left: 5%;
    right:5%;
    color: $primary-textColor;
    font-size: 1.2em;
    font-weight: 500;
  }
}
