.cards_container {
  width: 100%;
  height:auto;
  // border: 2px solid lime; //DEV
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5em 2%;
}


.card {
  
  &_container {
    width:340px;
    height: 340px;
    position: relative;
  }
  
  
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    position: relative;
  }

  &_title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: $primary-textColor;
    font-size: 1.2em;
    font-weight: 500;
  }
}
