
.dropdown {
  
  &_wrapper {
    @include flex_center_column;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    border-radius: 8px;
    padding: 0.7em 1em;
    z-index: 2;
  }

  &_title {
    font-size: 1.1rem;
    font-weight: 500;
    color: $primary-textColor;
  }

  &_button {
    display: flex;
    align-items: center;
    svg {
      width: 32px;
      height: 32px;
    }

    path {
      fill: $primary-textColor;
    }
  }

  @keyframes anim-height {
    0% { transform: translateY(-50%)  scale(1,0); }
    100% { transform: translateY(-5px) scale(1,1); }
  }
  
  @keyframes anim-opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes anim-height-1 {
    0% { transform: translateY(-5px) scale(1,1); }
    100% { transform: translateY(-50%)  scale(1,0); }
  }
  
  @keyframes anim-opacity-1 {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  &_contents {

    &_container {
      @include flex_center_column;
      overflow: hidden;
      align-items: flex-start;
      background: $primary-bgColor;
      padding: 1.2em 1em 0.7em 1em;
      transform: translateY(-5px)  scale(1,1);
      z-index: 1;
      width:100%;

      &.dropdown_open {
        transform: translateY(-50%)  scale(1,0);
        animation: anim-height 0.5s linear forwards;

        & .dropdown_contents_text {
          opacity: 0;
          animation: 0.5s anim-opacity 0.5s linear forwards;
        }
      }

      &:not(.dropdown_open) {
        transform: translateY(-5px)  scale(1,1);
        animation: 0.5s anim-height-1 0.5s linear forwards;

        & .dropdown_contents_text {
          opacity: 1;
          animation: anim-opacity-1 0.5s linear forwards;
        }
      }
    }

    &_text {
      color: $primary-color;
    }
  }

}
