.footer {
  @include flex_center;
    max-width: 1440px;
    background: $tertiary_color;

  &_wrapper {
    @include flex_center_column;
    width: fit-content;
    height: auto;
    padding: 2em 0;
  }

  &_logo {
    
    &_container {
      @include flex_center;
      max-width:122px;
      height: auto;
    } 
    
    &_img{
      width: 100%;
      height: auto;
    }
  }

  &_text {
    font-size: clamp(0.8em, 2.5vw, 1.5em);  
    color: $primary-textColor;
    margin-top: 2rem;
  }
}