.header_logo_nav {
  @include flex_center;
  justify-content: space-between;
  max-width: 100%;
}

.header {

  &_logo {
    @include flex_center;

    &_container {
      width: clamp(140px , 15vw, 210px);
      height:auto;
    }

    &_img {
      width: 100%;
      height: auto;
    }

  }

  &_nav {

    &_container {
      @include flex_center;
      width: fit-content;
      margin-left: 1em;
      
      > :nth-child(1) {
        margin-right: clamp(1.5em, 2vw, 2em);
      }
    }

    &_link {
      @include navLink;
      font-size: clamp(0.9em, 2.5vw, 1.5em);  
    }
  }
}
