.rating {

  &_container {
    @include flex_center_row;
    justify-content: flex-end;
    width: fit-content;
  }

  &_star {
    svg {
      width: 25px;
      height: 25px;

      @media screen and (max-width: 500px) {
        width: 20px;
        height: 20px;
      }
    }
    
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
