.rating {

  &_container {
    @include flex_center_row;
    justify-content: flex-end;
    width: fit-content;

    // TODO CHECK IF NEED IT
    // @media  screen and (max-width: 700px) {
    // margin-top: 1rem;
    // }
  }

  &_star {
    svg {
      width: 25px;
      height: 25px;
    }
    
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
