.tags {

  &_container {
    @include flex_center_row;
    justify-content: flex-start;
    width: fit-content;
  }

  &_tag {

    &_container {
      background: $primary-color;
      margin-right:1em;
      border-radius: 8px;
      padding: 0.3em 1em;
    }

    &_text {
      @include flex_center_column;
      font-size: 0.8rem;
      color: $primary-textColor;
    }
    
  }
}