@mixin navLink {
  text-decoration: none;
  color: $primary_color;
  
  &:hover {
    color: $secondary_color;
  }

  &.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    color: $primary_color;

    &:hover {
      color: $secondary_color;
    }
  }
}

@mixin banner_img_chevron {
  svg {
    width: 80px;
    height: 80px;
  }
  
  path {
    fill: $primary-textColor;
  }
  
  &:hover {
    cursor: pointer;
    path {
      fill: $primary-color;
    }
  }
}


@mixin pages_display_timeout { //time before cards appears after loading spinner
  animation: pages_display_timeout 3s backwards;

  @keyframes pages_display_timeout {
      0% {
          opacity: 0
      };

      80% {
          opacity: 0
      };

      100% {
          opacity: 1
      };
  }
}