@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/Montserrat-Regular.ttf") format("truetype");
}
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

header,
main {
  margin: 3em 6em !important;
}
@media screen and (max-width: 700px) {
  header,
  main {
    margin: 1em 1em 3em 1em !important;
  }
}

.hidden {
  display: none !important;
}

.header_logo_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_container {
  width: clamp(140px, 15vw, 210px);
  height: auto;
}
.header_logo_img {
  width: 100%;
  height: auto;
}
.header_nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 1em;
}
.header_nav_container > :nth-child(1) {
  margin-right: clamp(1.5em, 2vw, 2em);
}
.header_nav_link {
  text-decoration: none;
  color: #ff6060;
  font-size: clamp(0.9em, 2.5vw, 1.5em);
}
.header_nav_link:hover {
  color: #e61313;
}
.header_nav_link.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  color: #ff6060;
}
.header_nav_link.active:hover {
  color: #e61313;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  background: #000000;
}
.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  padding: 2em 0;
}
.footer_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 122px;
  height: auto;
}
.footer_logo_img {
  width: 100%;
  height: auto;
}
.footer_text {
  font-size: clamp(0.8em, 2.5vw, 1.5em);
  color: #ffffff;
  margin-top: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  margin: 1rem 0;
}
.loading_spinner_circle {
  width: 130px;
  height: 130px;
  border: 8px solid rgba(255, 96, 96, 0.06);
  border-top: 6px solid #ff6060;
  border-radius: 50%;
  animation: spin 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.loading_spinner_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}
.loading_spinner_icon svg {
  width: 65px;
  height: 65px;
}
.loading_spinner_text {
  font-size: 1.5em;
  font-weight: 600;
  color: #ff6060;
  margin-top: 1em;
}

.cards_wrapper {
  margin: 3rem 0;
  padding: 3rem;
  background: #f6f6f6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .cards_wrapper {
    padding: 0;
    background: none;
  }
}
.cards_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 3em 2%;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .cards_container {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
@media screen and (max-width: 350px) {
  .cards_container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.card_container {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.card_title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.2666666667);
  color: #ffffff;
  font-size: clamp(1em, 1.2vw, 1.2em);
  font-weight: 500;
}

.lightbox_container {
  position: relative;
  width: 100%;
  height: clamp(150px, 30vw, 415px);
  border-radius: 20px;
  overflow: hidden;
}
.lightbox_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.lightbox_counter {
  position: absolute;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  bottom: 20px;
  left: 50%;
}
.lightbox_chevron_right {
  position: absolute;
  top: calc(50% - 40px);
  right: 2%;
}
.lightbox_chevron_right svg {
  width: 80px;
  height: 80px;
}
.lightbox_chevron_right path {
  fill: #ffffff;
}
.lightbox_chevron_right:hover {
  cursor: pointer;
}
.lightbox_chevron_right:hover path {
  fill: #ff6060;
}
.lightbox_chevron_left {
  position: absolute;
  top: calc(50% - 40px);
  left: 2%;
}
.lightbox_chevron_left svg {
  width: 80px;
  height: 80px;
}
.lightbox_chevron_left path {
  fill: #ffffff;
}
.lightbox_chevron_left:hover {
  cursor: pointer;
}
.lightbox_chevron_left:hover path {
  fill: #ff6060;
}

.dropdown_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.dropdown_wrapper:hover {
  cursor: pointer;
}
.dropdown_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border-radius: 8px;
  padding: 0.7em 1em;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  .dropdown_container {
    padding: 0.5em 1em;
  }
}
.dropdown_title {
  font-size: clamp(0.9rem, 1.1vw, 1.1rem);
  font-weight: 500;
  color: #ffffff;
}
.dropdown_button {
  display: flex;
  align-items: center;
}
.dropdown_button svg {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 500px) {
  .dropdown_button svg {
    width: 25px;
    height: 25px;
  }
}
.dropdown_button path {
  fill: #ffffff;
}
@keyframes anim-height {
  0% {
    transform: translateY(-50%) scale(1, 0);
  }
  100% {
    transform: translateY(-5px) scale(1, 1);
  }
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-height-1 {
  0% {
    transform: translateY(-5px) scale(1, 1);
  }
  100% {
    transform: translateY(-50%) scale(1, 0);
  }
}
@keyframes anim-opacity-1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dropdown_contents_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  background: #f6f6f6;
  padding: 1.2em 1em 0.7em 1em;
  transform: translateY(-5px) scale(1, 1);
  z-index: 1;
  width: 100%;
}
.dropdown_contents_container.dropdown_open {
  transform: translateY(-50%) scale(1, 0);
  animation: anim-height 0.5s linear forwards;
}
.dropdown_contents_container.dropdown_open .dropdown_contents_text {
  opacity: 0;
  animation: 0.5s anim-opacity 0.5s linear forwards;
}
.dropdown_contents_container:not(.dropdown_open) {
  transform: translateY(-5px) scale(1, 1);
  animation: 0.5s anim-height-1 0.5s linear forwards;
}
.dropdown_contents_container:not(.dropdown_open) .dropdown_contents_text {
  opacity: 1;
  animation: anim-opacity-1 0.5s linear forwards;
}
.dropdown_contents_text {
  color: #ff6060;
}

.tags_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  margin-top: 0.6rem;
  flex-wrap: wrap;
}
.tags_tag_container {
  background: #ff6060;
  margin-right: 1em;
  border-radius: 8px;
  margin-top: 0.6rem;
  padding: 0.3em 1em;
}
.tags_tag_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(0.7rem, 0.8vw, 0.8rem);
  color: #ffffff;
}

.rating_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: fit-content;
}
.rating_star svg {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 500px) {
  .rating_star svg {
    width: 20px;
    height: 20px;
  }
}
.rating_star:not(:last-child) {
  margin-right: 0.5em;
}

.home_banner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: clamp(111px, 15vw, 223px);
  border-radius: 30px;
  overflow: hidden;
  margin-top: 3em;
}
.home_banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home_banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #ffffff;
  font-size: clamp(1.5em, 4vw, 3em);
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .home_banner_text {
    white-space: normal; /* Permet au texte de passer à la ligne */
    text-align: left;
    padding: 1.2rem;
  }
}

.accommodation_global_wrapper {
  margin-top: 2rem;
}
.accommodation_contents_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  margin-top: 2rem;
}
@media screen and (max-width: 700px) {
  .accommodation_contents_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
}
.accommodation_title_location_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: fit- content;
}
.accommodation_title_text {
  font-size: clamp(1.4rem, 2vw, 2rem);
}
.accommodation_title_location {
  margin-top: 0.3rem;
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
}
.accommodation_host_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.accommodation_host_name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.accommodation_host_name {
  width: fit-content;
  font-size: clamp(1rem, 1vw, 1.1rem);
  font-weight: 500;
  margin: 0 0.5rem 0 0;
  color: #ff6060;
}
.accommodation_host_name::first-letter {
  text-transform: uppercase;
}
.accommodation_host_img_container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .accommodation_host_img_container {
    width: 50px;
    height: 50px;
  }
}
.accommodation_host_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.accommodation_title_location_tags_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  color: #ff6060;
  font-weight: 500;
}
.accommodation_host_rating_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .accommodation_host_rating_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.6rem;
  }
}
.accommodation_dropdowns_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2em 0 3em 0;
  gap: 4.5rem 8%;
}
@media screen and (max-width: 700px) {
  .accommodation_dropdowns_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
  }
}
.accommodation_house_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
.accommodation_house_icon_img svg {
  height: clamp(50px, 20vw, 180px);
  width: auto;
}
.accommodation_house_icon_text {
  margin-top: 1rem;
  color: #ff6060;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 500;
}

.about_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.error_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
}
.error_code {
  font-size: clamp(5rem, 18vw, 18rem);
  font-weight: 700;
}
.error_message {
  font-size: clamp(0.8rem, 2vw, 2rem);
  font-weight: 500;
  margin-top: 5rem;
}
.error_navlink {
  font-size: clamp(0.6rem, 1.2vw, 1.2rem);
  color: #ff6060;
  margin-top: 8rem;
}

/*# sourceMappingURL=style.css.map */
