/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

#root {
  margin: 3em 6em;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/Montserrat-Regular.ttf") format("truetype");
}
.header_logo_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_container {
  width: 210px;
  height: auto;
}
.header_logo_img {
  width: 100%;
  height: auto;
}
.header_nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 2em;
}
.header_nav_container > :nth-child(1) {
  margin-right: 2em;
}
.header_nav_link {
  text-decoration: none;
  color: #FF6060;
  font-size: clamp(0.8em, 2.5vw, 1.5em);
}
.header_nav_link:hover {
  color: #e61313;
}
.header_nav_link.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  color: #FF6060;
}
.header_nav_link.active:hover {
  color: #e61313;
}
.header_banner_container {
  position: relative;
  width: 100%;
  height: clamp(111px, 20vw, 223px);
  border-radius: 30px;
  overflow: hidden;
  margin-top: 3em;
}
.header_banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #ffffff;
  font-size: clamp(1em, 4vw, 3em);
  font-weight: 500;
}

.cards_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 3em 2%;
  place-items: center;
}

.card_container {
  width: 340px;
  height: 340px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  align-self: center;
}
.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.card_title {
  position: absolute;
  top: 83%;
  left: 5%;
  right: 5%;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
}

.cards_wrapper {
  margin: 3rem 0;
  padding: 3rem;
  background: #f6f6f6;
  border-radius: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #000000;
}
.footer_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 122px;
  height: auto;
  margin-top: 3em;
}
.footer_logo_img {
  width: clamp(50%, 10vw, 100%);
  height: auto;
}
.footer_text {
  font-size: clamp(0.8em, 2.5vw, 1.5em);
  color: #ffffff;
  margin: 1.5em 0 1em 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
